# Configuration file for the Lorentz Angle Monitor
CalibTreeDirectory = /eos/cms/store/group/dpg_tracker_strip/comm_tracker/Strip/Calibration/calibrationtree/GR17_Aag
Run = 302031
CalibrationMode = StdBunch
CalibPrefix = GainCalibration
InfoTreePath = lorentzAngleRunInfo
EntriesMax = -1
# Output info
OutputFile = SiStripLAMonitor.root
SaveHistogramsModules = true
# Track selection
ptMin  = 1
nHitsValidMin = 12
chi2ndofMax = 1.4
